@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap');

html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

a {
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #181e29;
}

footer {
    background-color: #f1f5f9;
}

.lets-work:hover {
    font-weight: bold;
}

.hero {
    background-color: #181e29;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.vh-85 {
    height: 85vh;
}

.service-img {
    width: 15%;
    height: 15%;
}

.nav.nav-tabs .nav-item>button {
    color: #212529;
}

.nav.nav-tabs .nav-item>button.nav-link.active {
    color: #1b67e8;
}

.social-media a i {
    color: #1b67e8;
}
.social-media a i:hover {
    color: #1b66e8ad;
}

.footer-menu a {
    color: black;
}
.footer-menu a:hover {
    color: #1b66e8ad;
}