$primary: #0084ad;
$secondary: #ffc107;
$info : #ffc107;
$primary-backgournd-color: hsl(210, 11%, 95%);

@import '../node_modules/bootstrap/scss/bootstrap.scss'; 
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Julius+Sans+One&display=swap');
@import '../animations/chevron-anim.scss';

body {
    background-color: $primary-backgournd-color;
}

h1, h2, h3 {
    font-family: 'Julius Sans One';  
}

p, button, a {
    font-family: 'Archivo';
}

section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

img {
  border-radius: 50%;
}

.btn-ghost {
    color: #212529;
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 0.25rem;

}

.btn-ghost:hover {
    color: #212529;
    // background-color: rgba(247,250,255,.1);
    background-color: #ffc107;
    text-decoration: none;
    border-color: transparent; 
}

.icon-link-hover {
    color: #f7faff;
}
.icon-link-hover:hover {
    color: #ffc107;
}

.price-list {
    list-style: none;
}

.price-list li:before {
    font-family:'Bootstrap-icons';
    content:'\F270';
    color: green;
}


@media (min-width: 992px) {
    .mx-lg-auto {
        margin-right: auto;
        margin-left: auto;
    }
    .w-lg-75 {
        width: 75%;
    }
}