@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap");

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

a,
button {
  font-family: "Inter", sans-serif;
}

.navbar-brand img {
  width: 80px;
  height: 80px;
}

:root {
  --bs-primary: #18ab60; /* Your new primary color */
}

.btn-primary {
  background-color: #18ab60;
  color: black;
  border-color: #18ab60;
}
.btn-primary:hover {
  background-color: #18ab5fd8;
  color: black;
  border-color: #18ab5fd8;
}
.btn-secondary {
  background-color: #fda304ff;
  color: black;
  border-color: #fda304ff;
}

.word-wrap {
  color: #18ab60;
}
.word-wrap-yellow {
  color: #fda304;
}

.bg-image {
  background: url("/images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.list-group-checkable .list-group-item {
  cursor: pointer;
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.list-group-item:hover {
  background-color: var(--bs-primary);
  opacity: 0.6;
  color: #fff;
}
/* .list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-primary);
  opacity: 0.6;
  color: #fff;
} */
.list-group-item.active{
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

a.see-more {
  color: #7f7f7f;
}
a.see-more:hover {
  color: var(--bs-primary);
}

a.footer-nav:hover{
  color: var(--bs-primary);
}
